<div fxLayout="column" fxFlexFill>
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxFlex="25"></div>
        <div fxFlex="50" fxLayout="column">
            <div style="background:url(./images/movie.png);background-size: contain;background-repeat: no-repeat;" fxFlex="90"></div>
            <div fxLayout="row" fxFlex="10">
                    <span fxFlex="30"></span>
                    <a style="background:url(./images/gplus.png);background-size: contain;background-repeat: no-repeat;" fxFlex="60" href="/authenticate"></a>
            </div>
        </div>
        
    </div>
    <div fxFlex="20"></div>
</div>